html, body {
  overflow: auto;
  margin: 0px;
  padding: 0px;
}
header {
	height: 60px;
	background: -webkit-linear-gradient(90deg, #225500, #77a800);
	text-align: middle;
	box-shadow:0px 2px 12px #000;
	padding: 5px;
	box-sizing: border-box;
}
img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}